html {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 43pt;
    color: #303030;
    text-align: center;
    padding: 3px 0 3px 0;
    margin: 0 0 5px 0;
}
 <style>
   .menu {
    position: fixed; /* Фиксированное положение */
    right: 10px; /* Расстояние от правого края окна браузера */
    top: 20%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */ 
    background: #ffe; /* Цвет фона */ 
    border: 1px solid #333; /* Параметры рамки */ 
   }
   .text {
    height: 1000px;
   }
body {
	background-color: #ffffff;
}

ul {
	font-family: sans-serif;
	font-size: 30px;
	list-style: none;
	background-color: #909090;
	height: 50px;
	padding: 0;
	margin: 10px 0;
}

a {
	color: #fff;
	text-decoration: none;
	line-height: 50px;
	padding: 0 40px;
	border-right: 2px solid black;
	transition: .3s all ease;
	display: block;
}

a:hover {
	background-color: black;
}

li {
	float: left;
}
