button {
    background-color: #483D8B;
    border: none;
    color: #ffffff;
    padding: 15px 5 15px 6;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

p {
    font-size: 30pt;
    color: #303030;
    text-align: center;
    padding: 3px 0 3px 0;
    margin: 0 0 5px 0;
}
